
  <ion-content>
    
      <!--<ion-list class="list-avatar-page"   *ngFor="let programacao of programacoes_por_agenda">
          
        <ion-list-header>{{programacao.data}}</ion-list-header>

        <ion-item>
          <ion-avatar item-left>
            <img src="{{programacao.imagem}}">
          </ion-avatar>
          <h2>{{programacao.titulo}}</h2>
          <p>{{programacao.tipo}}</p>
          <button ion-button clear item-right (click)="abrirProgramacao(this.programacao)">Ver</button>
          <ion-note item-right>{{programacao.horario}}</ion-note>
        </ion-item>

      </ion-list>-->

      <ion-list  *ngIf="programacoes_data" [virtualScroll]="programacoes_data">
        <ion-item class="lista" ion-item *virtualItem="let programacao_data">
          <h2>{{programacao_data | date: 'dd/MM/yyyy'}}</h2>
          <button ion-button clear item-right (click)="abrirProgramacaoPorData(this.programacao_data)">Ver</button>
        </ion-item>
      </ion-list>
    
  </ion-content>
