page-agenda-cientifica {
.list-avatar-page {
    // background-image: url('../assets/img/background.png');
    // background-repeat: no-repeat;
    // background-size: cover;

    
    // margin-top: 10%;
    
    ion-note {
        font-size: 12px;
        align-self: flex-start;
        margin-top: 14px;
    }
}
}
