page-home {


.home {
    background-image: url('../assets/img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    //background-size: contain;
}

.borda {
  border: 2px solid #fff;
  border-radius: 15px;
}

.menu-superior {
  margin-top: -2%;
  //margin-left: 20%;
}

.bt-config {
  //width: 20px !important;
  margin: 0% 0% 0% 65%;
  //float: left !important;

}

.bt-home {
  margin-left: 20%;

}

.img_logo {
  margin-bottom: 10%;
  margin-top: 5%;
  margin-left: 15%;
  width:70%;
  height:70%;
}

.item-menu {
  margin: -10%;
  margin-bottom: 7%;
}

.item-menu1 {
  margin: -10%;
  margin-bottom: 7%;
}

// .item-menu1:hover{
//   .legenda {
//     color: red;
//   }
// }

.item-menu2 {
  margin: -10%;
  margin-bottom: 7%;
}

// .item-menu2:hover{
//   .legenda {
//     color: red;
//   }
// }

.item-menu3 {
  margin: -10%;
  margin-bottom: 7%;
}

// .item-menu3:hover{
//   .legenda {
//     color: red;
//   }
// }

.item-menu4 {
  margin: -10%;
  margin-bottom: 7%;
}

// .item-menu4:hover{
//   .legenda {
//     color: red;
//   }
// }

.item-menu5 {
  margin: -10%;
  margin-bottom: 7%;
}

// .item-menu5:hover{
//   .legenda {
//     color: red;
//   }
// }

.item-menu6 {
  margin: -10%;
  margin-bottom: 7%;
}

// .item-menu6:hover{
//   .legenda {
//     color: red;
//   }
// }

.item-menu7 {
  margin: -10%;
  margin-bottom: 7%;
}

// .item-menu7:hover{
//   .legenda {
//     color: red;
//   }
// }

.item-menu8 {
  margin: -10%;
  margin-bottom: 7%;
}

// .item-menu8:hover{
//   .legenda {
//     color: red;
//   }
// }

.item-menu9 {
  margin: -10%;
  margin-bottom: 7%;
}

// .item-menu9:hover{
//   .legenda {
//     color: red;
//   }
// }

.legenda {
  margin-left: 13%;
  color: #3e4095;
  font-size: 12px;
}

.menu {
  margin-left: 6%;
}

}
